[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
ormar = {extras = ["sqlite"], version = "*"}
databases = "*"
sqlalchemy = "*"
pyinstaller = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"
